*.class

# vim
*.swp
*.swo

# git files
**/.gitignore
**/.git/
**/.gitmodules

# IntelliJ IDEA files
**/.idea/
*.iml

# Gradle files
.gradle
**/build/
!tea-*/src
!tea-*/include
!tea-*/lib
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# bnd workspace cache
**/cnf/cache/

# build output
**/blobfiles/
**/target/
**/sootOutput/
**/test-out/
**/out/
**/cmake-build*

# generated C++ files
**/*.o
**/*.so
**/*.dylib

# vscode
**/.vscode/

# pycache
**/__pycache__/

# generated python grpc files
/tea-clients/application

# testcases, ignore it for speed
benchmarks/
tests/

# avoid unnecessary rebuild
**/Dockerfile
**/*.Dockerfile