snkInvk_XZ89_0_59 snkInvk 2 0 1 ci_reachableM 1 2 MI 2 2 0 ci_IM 2 0 3 SnkMeth 2 1 3
snkPrim_XZ89_1_59 snkPrim 2 0 1 snkInvk 2 2 1 IinvkPrimArg 3 2 3 0
snkRef_XZ89_2_59 snkRef 2 0 1 snkInvk 2 2 1 IinvkArg 3 2 3 0
snkObj_XZ89_3_59 snkObj 2 0 1 snkRef 2 2 1 ci_pt 2 2 0
snkObj_XZ89_4_59 snkObj 2 0 1 snkObj 2 2 1 ci_fpt 3 2 3 0
srcInvk_XZ89_5_59 srcInvk 2 0 1 ci_reachableM 1 2 MI 2 2 0 ci_IM 2 0 3 SrcMeth 2 1 3
srcPrim_XZ89_6_59 srcPrim 2 0 1 srcInvk 2 2 1 IinvkPrimRet 3 2 3 0
srcRef_XZ89_7_59 srcRef 2 0 1 srcInvk 2 2 1 IinvkRet 3 2 3 0
srcObj_XZ89_8_59 srcObj 2 0 1 srcRef 2 2 1 ci_pt 2 2 0
srcObj_XZ89_9_59 srcObj 2 0 1 srcObj 2 2 1 ci_fpt 3 2 3 0
labelPrim_XZ89_10_59 labelPrim 2 0 1 srcPrim 2 0 1
labelPrim_XZ89_11_59 labelPrim 2 0 1 AssignPrim 2 0 2 labelPrim 2 2 1
labelPrimFld_XZ89_12_59 labelPrimFld 3 0 1 2 StorePrim 3 3 1 4 labelPrim 2 4 2 ci_pt 2 3 0
labelPrim_XZ89_13_59 labelPrim 2 0 1 LoadPrim 3 0 2 3 ci_pt 2 2 4 labelPrimFld 3 4 3 1
labelPrim_XZ89_14_59 labelPrim 2 0 1 LoadPrim 3 0 2 3 ci_pt 2 2 4 srcObj 2 4 1
labelPrimStatFld_XZ89_15_59 labelPrimStatFld 2 0 1 labelPrim 2 2 1 StoreStatPrim 2 0 2
labelPrim_XZ89_16_59 labelPrim 2 0 1 LoadStatPrim 2 0 2 labelPrimStatFld 2 2 1
labelPrim_XZ89_17_59 labelPrim 2 0 1 ci_IM 2 2 3 IinvkPrimArg 3 2 4 5 MmethPrimArg 3 3 4 0 labelPrim 2 5 1
labelPrim_XZ89_18_59 labelPrim 2 0 1 ci_IM 2 2 3 IinvkPrimRet 3 2 4 0 MmethPrimRet 3 3 4 5 labelPrim 2 5 1
ci_flow_XZ89_19_59 ci_flow 2 0 1 snkObj 2 2 1 srcObj 2 2 0
ci_flow_XZ89_20_59 ci_flow 2 0 1 snkObj 2 2 1 labelPrimFld 3 2 3 0
ci_flow_XZ89_21_59 ci_flow 2 0 1 snkPrim 2 2 1 labelPrim 2 2 0
